body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

div {
    margin: 0;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

article {
    margin: 15px;
    padding: 10px;
    border: 2px solid red;
}

article img {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
  }

.flex-container {
    display:flex;
    flex-direction: column;
}

.flex-container article {
    background: peachpuff;
    border: 4px solid blue;
  }